h1 {
    
    text-align: center;
    background-color: black;
    color: wheat;
}

p {
    background-color: dimgray;
}

h2 {
    background-color: midnightblue;
    color: whitesmoke;
}

p {
    background-color: aquamarine;
}