* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
} 

div {
    height: 25vh;
    width: 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
}

#d1 {
    background-color: #845EC2;

}
#d1_1 {
    background-color: #B39CD0;
    width: 800px;
    height: 100px;
}

#d2 {
    background-color: #00C9A7;

}
#d2_1 {
    background-color: #398B77;
    width: 800px;
    height: 100px;
}

#d3 {
    background-color: #C4FCEF;

}
#d3_1 {
    background-color: #8DC3B7;
    width: 800px;
    height: 100px;
}

#d4 {
    background-color: #4D8076;

}
#d4_1 {
    background-color: #80B5AA;
    width: 800px;
    height: 100px;
}